{% extends 'base.html' %}

{% block title %}
Parameters - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'data_lib' %}">Data Sources</a></li>
  <li class="breadcrumb-item"><a href="{% url 'view_data' datasource.pk %}">{{datasource.pk}}</a></li>
  <li class="breadcrumb-item active">Add Parameter</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'new_param' %}" class="btn btn-secondary">Apply Filter</a>
</div>
<div>
</div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 45%">Filepath</th>
        <th style="width: 5%">Value</th>
        <th style="width: 40%">Last modified</th>
        <th style="width: 5%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for param in params %}
        <tr>
          <td><b>{{param.pk}}</b></td>
          <td>{{ param.input_filepath }}</td>
          <td>{{ param.value}}</td>
          <td>{{ param.created_at}} by {{param.created_by.first_name}} {{param.created_by.last_name}}</td>
          <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal{{param.pk}}">Link</button>
            <div class="modal fade" id="Modal{{param.pk}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    Do you wish to link  <b>parameter #{{param.pk}}</b> and <b>data source #{{datasource.pk}}</b>?
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <a href="{% url 'data_link_param' datasource.pk param.pk %}" class="btn btn-success">Link</a>
                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Unlink</button> -->
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
