{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Data - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Data Sources</li>
{% endblock %}

{% block content %}
<form method="get">
  <div class="mb-4">
    <a href="{% url 'new_data' %}" class="btn btn-success">Add Data</a>
    <button type="submit" class="btn btn-secondary">
        <span class="glyphicon glyphicon-search"></span> Apply Filter
      </button>
  </div>
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ datafilter.form.Title.label_tag }}
          {% render_field datafilter.form.Title class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ datafilter.form.Author.label_tag }}
          {% render_field datafilter.form.Author class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ datafilter.form.PubType.label_tag }}
          {% render_field datafilter.form.PubType class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ datafilter.form.Date_published.label_tag }}
          {% render_field datafilter.form.Date_published placeholder="yyyy-mm-dd" class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ datafilter.form.Country.label_tag }}
          {% render_field datafilter.form.Country class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ datafilter.form.created_by.label_tag }}
          {% render_field datafilter.form.created_by class="form-control" %}
        </div>
      </div>
    </div>
  </form>
<div>
</div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 15%">Author</th>
        <th style="width: 52%">Title</th>
        <th style="width: 3%">Setting</th>
        <th style="width: 20%">Published</th>
        <th style="width: 5%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for datasource in datafilter.qs %}
        <tr>
          <td><b>{{datasource.pk}}</b></td>
          {% if datasource.PubType == "Journal article" %}
          <td>{{ datasource.Author }} et al.</td>
          {% elif datasource.PubType == "Pre-print" %}
          <td>{{ datasource.Author }} et al.</td>
          {% else %}
          <td>{{ datasource.Author }}</td>
          {% endif %}
          <td>{{ datasource.Title}}</td>
          <td><b>&ensp;</b><img src="{% static 'flags/4x3/' %}{{datasource.CountryCode}}.svg" class="rounded" alt="" height=23px width=auto></td>
          <td>{{datasource.Date_published}}</td>
          <td><a href="{% url 'view_data' datasource.pk %}" class="btn btn-primary">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
