{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Section</th>
        <th>Description</th>
        <th>Number of Records</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="{% url 'param_lib' %}">Parameters</a>
        </td>

        <td>
          Library of CEACOV model inputs and their derivations
        </td>
        <td>
          {{n_param}}
        </td>
      </tr>
      <tr>
        <td>
        <a href="{% url 'data_lib' %}">Data Sources</a>
        </td>
        <td>
          Library of data sources used to derive model inputs
        </td>
        <td>
          {{n_datasource}}
        </td>
      </tr>
      <tr>
        <td>
        <a href="{% url 'test_infile' %}">Input Files</a>
        </td>
        <td>
          Library of parameter sets used in past and current analyses
        </td>
        <td>
          {{n_infile}}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
