{% extends 'base.html' %}

{% block title %}
Parameters - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Parameters</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'new_param' %}" class="btn btn-success">Add Parameter</a>
  <a href="{% url 'new_param' %}" class="btn btn-secondary">Apply Filter</a>
</div>
<div>
</div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 45%">Filepath</th>
        <th style="width: 5%">Value</th>
        <th style="width: 40%">Last modified</th>
        <th style="width: 5%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for param in params %}
        <tr>
          <td><b>{{param.pk}}</b></td>
          <td>{{ param.input_filepath }}</td>
          <td>{{ param.value}}</td>
          <td>{{ param.created_at}} by {{param.created_by.first_name}} {{param.created_by.last_name}}</td>
          <td><a href="{% url 'view_param' param.pk %}" class="btn btn-primary">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
