{% load treeview_extras %}
<div class="card mb-3">
  <div class="card-header">
    {% include "tree_parameter_info.html" %}
  </div>
  <div class="card-body">
    {% get_rownames x as rownames %}
    <div class="table-responsive">
      <table style="width: auto;" class="table table-bordered">
        <tbody>
          {% for row in rownames %}
          <tr>
            <th scope="row">{{row}}</th>
            {% with rowpath=json_path|add_to_path:row %}
            <td class="mb-0">
                {% bound_field form rowpath as field %}
              <div class="fieldWrapper">
                {{field}}
              </div>
            </td>
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
