{% load treeview_extras %}
<div class="card mb-3">
  <div class="card-header" id={{ledger|keyvalue:json_path|keyvalue:"html_id"}}>
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target={{ledger|keyvalue:json_path|keyvalue:"html_id"|add_body|add_ref}} aria-expanded="false" aria-controls={{ledger|keyvalue:json_path|keyvalue:"html_id"|add_body}}>
        {{ledger|keyvalue:json_path|keyvalue:"label"}}
      </button>
  </div>
  <div id={{ledger|keyvalue:json_path|keyvalue:"html_id"|add_body}} class="collapse" aria-labelledby={{ledger|keyvalue:json_path|keyvalue:"html_id"}}>
    <div class="card-body">
      {% for key,item in x.items %}
        {% with itempath=json_path|add_to_path:key %}
        {% include ledger|keyvalue:itempath|keyvalue:"html_template" with x=item ledger=ledger json_path=itempath %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>
