{% load treeview_extras %}
{% load widget_tweaks %}

<div class="card mb-3">
  <div class="card-header">
    {% include "tree_parameter_info.html" %}
  </div>
  <div class="card-body">
    {% get_rownames x as rownames %}
    {% get_colnames x as colnames %}
    <div class="table-responsive">
      <table style="width: auto;" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            {% for col in colnames %}
            <th scope="col">{{col}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rownames %}
          <tr>
            <th scope="row">{{row}}</th>
            {% for col in colnames %}
            {% with rowcolpath=json_path|add_to_path:row|add_to_path:col %}
            {% bound_field form rowcolpath as field %}
            <td><div class="fieldWrapper">
              {{field}}
            </div></td>
            {% endwith %}
            {% endfor %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
