{% extends 'base.html' %}
{% load static %}

{% block title %}View parameter{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'param_lib' %}">Parameters</a></li>
  <li class="breadcrumb-item active">{{param.pk}}</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <h1>Attributes
  <a href="{% url 'edit_param' param.pk %}" class="btn btn-warning">Edit</a>
  <h1>
</div>
<dl class="row">
  <dt class="col-sm-3">Filepath</dt>
  <dd class="col-sm-9">{{param.input_filepath}}</dd>
  <dt class="col-sm-3">Value</dt>
  <dd class="col-sm-9">{{param.value}}</dd>
  <dt class="col-sm-3">Created</dt>
  <dd class="col-sm-9">{{ param.created_at}} by {{param.created_by.first_name}} {{param.created_by.last_name}}</dd>
  <dt class="col-sm-3">Last modified</dt>
  <dd class="col-sm-9">{{ param.modified_at}} by {{param.modified_by.first_name}} {{param.modified_by.last_name}}</dd>
  <dt class="col-sm-3">Derivation documentation</dt>
  {% if param.derivation_documentation %}
  <dd class="col-sm-9"><a href="{{param.derivation_documentation.url}}">{{param.derivation_documentation.name|slice:"12:"}}</a></dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
  <dt class="col-sm-3">Notes</dt>
  {% if param.notes %}
  <dd class="col-sm-9">{{param.notes}}</dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
</dl>
<div class="mb-4">
  <h1>Data Sources
    <div class="btn-group">
    <a href="{% url 'param_new_data' param.pk %}" class="btn btn-success">Add New</a>
    <a href="{% url 'view_param' param.pk %}" class="btn btn-info">Add From Database</a>
    </div>
  <h1>
</div>
{% if param.data_sources %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 15%">Author</th>
        <th style="width: 52%">Title</th>
        <th style="width: 3%">Setting</th>
        <th style="width: 20%">Published</th>
        <th style="width: 5%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for datasource in param.data_sources.all %}
        <tr>
          <td><b>{{datasource.pk}}</b></td>
          {% if datasource.PubType == "Journal article" %}
          <td>{{datasource.Author}} et al.</td>
          {% elif datasource.PubType == "Pre-print" %}
          <td>{{datasource.Author}} et al.</td>
          {% else %}
          <td>{{datasource.Author}}</td>
          {% endif %}
          <td>{{datasource.Title}}</td>
          <td><b>&ensp;</b><img src="{% static 'flags/4x3/' %}{{datasource.CountryCode}}.svg" class="rounded" alt="" height=23px width=auto></td>
          <td>{{datasource.Date_published}}</td>
          <td>
            <div class="btn-group">
            <a href="{% url 'view_data' datasource.pk %}" class="btn btn-primary">View</a>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Modal{{datasource.pk}}">Unlink</button>
            </div>
            <div class="modal fade" id="Modal{{datasource.pk}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    Do you wish to unlink  <b>data source #{{datasource.pk}}</b> and <b>parameter #{{param.pk}}</b>? Both objects will remain intact, but will no longer be connected in the database.
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <a href="{% url 'unlink_data_from_param' param.pk datasource.pk %}" class="btn btn-danger">Unlink</a>
                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Unlink</button> -->
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
<div class="mb-4">
  <h1>Input Files
    <div class="btn-group">
    <a href="{% url 'view_param' param.pk %}" class="btn btn-success">Add New</a>
    <a href="{% url 'view_param' param.pk %}" class="btn btn-info">Add From Database</a>
    </div>
  <h1>
</div>
{% endblock %}
