{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
View data - {{ block.super }}
{% endblock %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'data_lib' %}">Data Sources</a></li>
  <li class="breadcrumb-item active">{{datasource.pk}}</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <h1>Attributes
  <a href="{% url 'edit_data' datasource.pk %}" class="btn btn-warning">Edit</a>
  <h1>
</div>
<dl class="row">
  <dt class="col-sm-3">Publication type</dt>
  <dd class="col-sm-9">{{datasource.PubType}}</dd>
  <dt class="col-sm-3">Author or publisher</dt>
  {% if datasource.PubType == "Journal article" %}
  <dd class="col-sm-9">{{datasource.Author}} et al.</dd>
  {% elif datasource.PubType == "Pre-print" %}
  <dd class="col-sm-9">{{datasource.Author}} et al.</dd>
  {% else %}
  <dd class="col-sm-9">{{datasource.Author}}</dd>
  {% endif %}
  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9">{{datasource.Title}}</dd>
  <dt class="col-sm-3">Date published</dt>
  <dd class="col-sm-9">{{datasource.Date_published}}</dd>
  <dt class="col-sm-3">Country / Setting</dt>
  <dd class="col-sm-9">{{datasource.Country}}</dd>
  <dt class="col-sm-3">URL</dt>
  {% if datasource.URL %}
  <dd class="col-sm-9"><a href="{{datasource.URL}}">{{datasource.URL}}</a></dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
  <dt class="col-sm-3">DOI</dt>
  {% if datasource.DOI %}
  <dd class="col-sm-9"><a href="https://doi.org/{{datasource.DOI}}">{{datasource.DOI}}</a></dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
  <dt class="col-sm-3">PMID</dt>
  {% if datasource.PMID %}
  <dd class="col-sm-9"><a href="https://pubmed.ncbi.nlm.nih.gov/{{datasource.PMID}}">{{datasource.PMID}}</a></dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
  <dt class="col-sm-3">Saved copy</dt>
  {% if datasource.hard_copy %}
  <dd class="col-sm-9"><a href="{{datasource.hard_copy.url}}">{{datasource.hard_copy.name|slice:"11:"}}</a></dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
  <dt class="col-sm-3">Created</dt>
  <dd class="col-sm-9">{{datasource.created_at}} by {{datasource.created_by.first_name}} {{datasource.created_by.last_name}}</dd>
  <dt class="col-sm-3">Last modified</dt>
  <dd class="col-sm-9">{{datasource.modified_at}} by {{datasource.modified_by.first_name}} {{datasource.modified_by.last_name}}</dd>
  <dt class="col-sm-3">Notes</dt>
  {% if datasource.notes %}
  <dd class="col-sm-9">{{datasource.notes}}</dd>
  {% else %}
  <dd class="col-sm-9">None</dd>
  {% endif %}
</dl>
<div class="mb-4">
  <h1>Parameters
  <a href="{% url 'new_data' %}" class="btn btn-success">Add</a>
  <h1>
</div>
{% if datasource.parameters %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 40%">Filepath</th>
        <th style="width: 5%">Value</th>
        <th style="width: 40%">Last modified</th>
        <th style="width: 5%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for param in datasource.parameters.all %}
        <tr>
          <td><b>{{param.pk}}</b></td>
          <td>{{ param.input_filepath }}</td>
          <td>{{ param.value}}</td>
          <td>{{ param.created_at}} by {{param.created_by.first_name}} {{param.created_by.last_name}}</td>
          <td>
            <div class="btn-group">
            <a href="{% url 'view_param' param.pk %}" class="btn btn-primary">View</a>
            <a href="{% url 'view_param' param.pk %}" class="btn btn-secondary">Unlink</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
<div class="mb-4">
  <h1>Input Files
  <a href="{% url 'new_data' %}" class="btn btn-success">Add</a>
  <h1>
</div>
{% endblock %}
